@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root{
  --focus_color: #57b9ff;
}

*{
  box-sizing: border-box;
}

a{
  color: #fff;
  text-decoration:none;
}

body{
  background-color: #0b0b0b;
  color: #fff;
  font-size: 24px;
  line-height: 28px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}

.logotip{
  background-image: url("../image/logo.png");
  display: inline-block;
  width: 256px;
  height: 256px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.header{ 
  height: 100vh;
  position: absolute;
  z-index: 5;
  background: rgba(0, 0, 0, 0.3);
  left: 0;
  right: 0;
}

.container{ 
  padding: 0 15px; 
  max-width: 1230px;
  margin: 0 auto;
}

.header-top{
  display: flex;
  justify-content: space-between;
}

.header-content__title { margin-top: 20px; }

.header-btn{ 
  width: 60px; 
  height: 60px; 
  border: 1px solid #fff;
  margin-top: 31px;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-btn div{
  width: 36px;
  height: 2px;
  background-color: #fff;
  margin: 5px 0;
}

.header-content__title{
  font-family: 'Roboto', sans-serif;
  font-size: 96px;
  line-height: 112px;
  margin-bottom: 40px;
}

.header-content__text{
  width: 284px;
  margin-bottom: 25px;
}

.button{
  display: inline-block;
  border: 1px solid #fff; 
  padding: 30px 62px;
  background: rgba(255, 255, 255, 0.15);
  transition: all .5s;
}

.button:hover{
  background-color: #770302;
}

.menu{
  position: absolute;
  background-color: #000;
  opacity: 0.7;
  top: 0;
  left: -100%;
  width: 100%;
  transition: all .7s;
  z-index: 7;
}

.container-menu{
  position: relative;
}

.close-btn{
  width: 50px;
  height: 50px;
  position: absolute;
  top: 43px;
  right: 20px;
  cursor: pointer;
}

.close-btn::after,
.close-btn::before{
  content: "";
  width: 70px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  transform-origin: left;
}

.close-btn::after{
  transform: rotate(45deg);
}

.close-btn::before{
  transform: rotate(-45deg);
  bottom: -1px;
}

.menu__list{
  height: 100vh;
  display: flex;
  align-items: center; 
}

.menu__list ul{
  list-style: none;
}

.menu__list a{
  font-size: 48px;
  line-height: 56px;
  font-weight: bold;
  padding: 30px 25px 14px 0;
  border-bottom: 3px solid #b70021;
  display: inline-block;
  min-width: 368px;
  transition: all .5s;
}

.menu__list a:hover{
  border-color: #fff;
  color: #b70021;
  transform: scale(1.2); 
  margin-left: 37px;
}

.fon__item{
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
}


.subscription__title{
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 35px;
  color: #dc0000;
  margin-bottom: -25px;
  margin-top: 60px;
  font-weight: 700;
}

.subscription__block{ margin: 50px auto 100px; }

.subscription__form input{
  margin: 15px auto 15px;
  padding: 20px;
  width: 100%;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
  font-size: 20px;
  color: #fff;
  outline: none;
}
subscription__form-box{
  background-color: rgb(228, 0, 0);
}

.subscription__btn{
  margin-top: 50px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  padding: 25px 72px; 
  background: rgba(255, 255, 255, 0.15);
  transition: all .7s;
  cursor: pointer;
}

.subscription__btn:hover{
  background-color: #770302;
  transition: all .5s;
}

.footer{
  background-color: #690102;
  padding: 83px 0 20px;
}

.footer-btn{
  text-align: center;
  margin-bottom: 83px;
}

.footer-btn .button:hover{
  background-color: #0b0b0b;
}

.footer-copy{
  text-align: center;
  font-weight: 700;
}

.footer-copy ul{
  list-style: none;
}

.footer-copy li{
  display: inline-block;
  padding: 0 10px;
  position: relative;
}

.footer-copy li + li::before{
  content: "|";
  position: absolute;
  left: -5px;
}

@media (max-width: 420px){
  .logotip{
    width: 200px;
    height: 200px;
  }

  .header-content__title{
    font-size: 70px;
    margin-top: 10px;
    line-height: 85px;
  }

  .menu__list a{
    font-size: 30px;
    line-height: 44px;
    padding: 19px 10px 7px 0;
    display: block;
    min-width: 100%;
  }

  .menu__list ul{ width: 100%; }
}
@media (max-width: 380px){
  .footer-btn button{
    padding: 25px 35px;
  }
  .footer-copy ul{
    text-align: center;
    padding: 0;
    margin: 0 50px;
  }
}